.main
  %h1 Simple Image Uploader
  - if current_user
    %h2
      Hello #{current_user.name}
    .link-to-uploads
      = link_to "Upload an image", '/image'

    - if current_user.images.present?
      = render partial: 'image_list'
    .logout
      = link_to 'Log out', '/logout'
  - else
    = render partial: 'signup'
